.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #212630;
    position: fixed;
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    background-color: #1B1F29;
}

.sidebar a {
    display: block;
    color: #ffffff;
    padding: 16px;
    font-size: larger;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #2b3753;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #364057;
    color: white;
}

div.main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

h1.center {
    text-align: center;
    margin-top: 5px;
}

h2 {
    color: white;
}

li {
    color:white;
}

.header {
    background-color: #161921;
    margin-left: -17px;
    margin-right: -17px;
    margin-top: -6px;
    padding: 5px 0;
    height: 50px;
    color: white;
}

#intro {
    margin-top: 50px;
    color: white;
    font-size: large;
    text-align: center;
}

#macska {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.1);
}

#robloxkep {
    padding-top: 100px;
}

.seperator {
    background:rgb(133, 133, 133);
    width: 100%;
    height: 1px;
}

.container{
    width: 95%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.holder{
    width: 100%;
    height: 100%;
    margin: 0 10px;
    transition: 1s;

}
.holder img{
    display: block;
    width:100%;
    border-radius: 5px;
}
.holder:hover{
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
}


fieldset {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
}


#burger {
    font-size: 25px;
    text-align: center;
}

#name, #number, #address {
    font-size: 20px;
}

label {
    font-size: 18px;
}

select {
    width: 350px;
    height: 35px;
    font-size: 20px;
}

.button {
    width: 150px;
    height: 30px;
    display: inline-block;
}

legend {
    font-size: 26px;
}

#urlap {
    color:white;
}
